body {
    height: 500vh;
    margin: 0;
    padding: 0;
}

p {
    color: red;
    margin: 10px;
}

.box {
    width: 100px;
    height: 100px;
    margin: 10px;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#orange {
    background-color: orange;
    position: absolute;
    top:1000px;
}

