<nav>
    <ul>
        <li>
            <a routerLink="/home">Accueil</a>
        </li>
        <li>
            <a routerLink="/demos">Démonstrations</a>
            <ul>
                <li>
                    <a routerLink="/demos/intro">Introduction</a>
                </li>
                <li>
                    <a routerLink="/demos/bindings">Bindings</a>
                </li>
                <li>
                    <a routerLink="/demos/pipes">Pipes</a>
                </li>
                <li>
                    <a routerLink="/demos/directives">Directives</a>
                </li>
                <li>
                    <a routerLink="/demos/API">API</a>
                </li>
            </ul>
        </li>
        <li>
            <a routerLink="/exos">Exercices</a>
            <ul>
                <li>
                    <a routerLink="/exos/intro">Introduction</a>
                </li>
                <li>
                    <a routerLink="/exos/routeComponent">Exercice 1 : Route Component</a>
                </li>
                <li>
                    <a routerLink="/exos/chrono">Exercice 2 : Chronomètre</a>
                </li>
                <li>
                    <a routerLink="/exos/animals">Exercice 3 : Animaux</a>
                </li>
                <li>
                    <a routerLink="/exos/articles">Exercice 4 : Articles</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>