@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@if (TempData.ContainsKey("message"))
{
    <div class="alert @TempData["alert-type"]">
        <p>@TempData["message"]</p>
    </div>
}
<h1>PROFIL</h1>

<a asp-action="Edit" asp-controller="Profile" asp-route-id="1">Editer profil 1</a>
<a asp-action="Edit" asp-controller="Profile" asp-route-id="2">Editer profil 2</a>

